body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #d1ce0b, #bf6510);
}

.calculadora {
  background: #222;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
}

#display {
  width: calc(100% - 20px);
  height: 60px;
  font-size: 2em;
  text-align: right;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #333;
  color: white;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  background: #444;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #666;
}

button:active {
  transform: scale(0.95);
}

button:nth-child(1) {
  background: #ff4444;
}

button:nth-child(1):hover {
  background: #ff2222;
}

button:nth-child(17) {
  background: #ded51b;
}

button:nth-child(17):hover {
  background: #ded51b;
}
